<!DOCTYPE html>
<html>
    <head>
        <title>Formulário</title>
    </head>
    <body>
        <h1>Formulário</h1>
        <div> Preencha os dados: </div> <br/>
        <form method="POST">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" required>
            <br/> <br/>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <br/> <br/>
            <button type="submit"> Enviar </button>
        </form>
    </body>
</html>